import('sprites/*')
import('inlcudes/placeholder')
@import 'includes/variables'
@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/reset'

html
  font-family Helvetica
  font-size 16px
p
  font-size font-m
  line-height line-m 
  parMargin()
h1
  font-family serif
  font-size 2.625rem
  font-weight bold
  line-height 3.2335rem
h2
  font-family serif
  font-size 2.0625rem
  font-weight bold
  line-height 2.5625rem
  for item in parLike
    {item} + &
      margin-top 3.375rem
h3
  font-family serif
  font-size  1.625rem
  font-weight bold
  line-height 2rem
  for item in parLike
    {item} + &
      margin-top 3.375rem
  h2 + &
    margin-top 0.25rem
h4
  font-family serif
  font-size  1.25rem
  font-weight bold
  line-height 1.5625rem
  for item in parLike
    {item} + &
      margin-top 3.375rem
  h3 + &
    margin-top 0.25rem
.page
  display flex
  flex-direction column
  min-height 100vh
main
  flex-grow 1
  padding-bottom 6rem
.container
  display flex
  justify-content center
.content
  width 100%
  max-width 72rem
  padding-x .75rem

import('../blocks/**/*')
