mixin img(image)
  if image === undefined
    img&attributes(attributes)
  else if typeof image === 'string'
    img(src != image)&attributes(attributes)
  else if image.formats
    picture
      each format in image.formats
        if image.density && image.density.length > 0
          if !image.density.includes(1)
            - image.density.push(1)
          -
            image.density.sort((a, b) => a - b)
            let i = image.density.length
          while i >= 1
            - let d = image.density[i - 1]
            if i === image.density.length && i > 1
              source(srcset != `${image.path}${image.name}@${d}x${format.ext}` type != format.mime media=`(-webkit-min-device-pixel-ratio: ${d - 1}.01)`)
            if i < image.density.length && i > 1
              source(srcset != `${image.path}${image.name}@${d}x${format.ext}` type != format.mime media=`(-webkit-max-device-pixel-ratio: ${d}) and (-webkit-min-device-pixel-ratio: ${d - 1}.01)`)
            if i === 1
              if format.orig
                img(src != `${image.path}${image.name}${format.ext}` media=`(-webkit-max-device-pixel-ratio: ${d})` type != format.mime)&attributes(attributes)
              else
                source(srcset != `${image.path}${image.name}${format.ext}` media=`(-webkit-max-device-pixel-ratio: ${d})` type != format.mime)
            - i -= 1
        else
          if format.orig
            img(src != `${image.path}${image.name}${format.ext}` type != format.mime)&attributes(attributes)
          else
            source(srcset != `${image.path}${image.name}${format.ext}` type != format.mime)
