.header-login
  display flex
  margin -(basePadding/2)
  &__sep
    margin (basePadding/2)
    color #aaaaaa
  &__link
    margin (basePadding/2)
    font-size font-s
    text-decoration none
    color #aaaaaa
    transition color .4s
    &:hover
      color #f0f0f0
      transition color .1s
