.header-login
  - 
  if (global.user)
    a(href='/users/profile').header-login__link Профиль 
    .header-login__sep /
    a(href='/users/logout').header-login__link Выйти 
  else
    a(href='/users/register').header-login__link Зарегистрироваться
    .header-login__sep /
    a(href='/users/login').header-login__link Войти
