mixin asideMenu(title, list)
  .aside-menu
    .aside-menu__title !{title}
    ul.aside-menu__list
      each item in list
        -
          const itemClass = ['aside-menu__item']
          if (item.active) itemClass.push('aside-menu__item--active')
          let href
          if (item.id) href = `/catalog/render?elementId=${item.id}`
          else if (item.href) href = item.href
        li(class != itemClass): a(href != href) !{item.name}
