.aside-menu
  text-align right
  & + &
    margin-top (basePadding*2)
  &__title
    @extend h3
  &__list
    margin-top .75rem
  &__item
    & + &
      margin-top .5rem
    & a
      text-decoration none
      color #999
      &:hover
        text-decoration underline
