.table-orders
  .table__cell
    padding basePadding
    vertical-align top
  .table__header
  .table__cell
    &:nth-child(2)
      width 100%
    &:not(:nth-child(2))
      white-space nowrap
    &:nth-child(3)
      font-weight bold
