.form-user
  @extend .form-login
  &__input
    .form-input
      display flex
      align-items baseline
      &__label
        width 8rem
      &__field
        &[readonly]
          background transparent
          border 1px solid transparent
  &__buttons
    display flex
    margin-x -(basePadding)
    .btn
      flex-basis 50%
      margin-x basePadding
      padding (basePadding/3*2) basePadding
      font-size 1rem
      line-height 1.75rem
      color #fff
      background-color #E6A917
      border none
      cursor pointer
      transition background .4s
      &:hover
        background-color lightness(#E6A917, 65%)
        transition background .1s
      &:active
        background-color lightness(#E6A917, 35%)
        transition none
