.order-products
  &__item
    display flex
    justify-content space-between
    & + &
      margin-top basePadding
      padding-top basePadding
      border-top .5px #ccc solid
  &__price
    text-align right
  &__price-item
  &__count
    margin-top .25rem
    font-size font-xs
    color #666
