mixin orderProducts(list)
  .order-products
    each item in list
      .order-products__item
        .order-products__info
          - const href = `/catalog/render?elementId=${item.id}`
          .order-products__name: a(href != href) !{item.name}
          .order-products__count Количество: !{item.count}
        .order-products__price
          - item.count = item.count ? item.count : 1
          span !{item.count * item.cost} ₽
          if item.count > 1
            .order-products__price-item 1 шт. = !{item.cost} ₽
