include /blocks/img/img

mixin productsItem(item)
  a(href=`${item.href}`).products-item
    .products-item__image: +img(item.image)(alt != item.name)
    .products-item__name !{item.name}
    .products-item__price !{item.price} ₽
