.products-item
  text-decoration none
  color #000
  &:hover
    & ^[-1]__name
      text-decoration underline
  &__name
    margin-top .875rem
    line-height 1.25
  &__price
    margin-top .5rem
    font-size 1.5rem
    font-weight bold
    line-height 1.25rem
