.header-logo
  position relative
  display block
  padding-left (basePadding/3*10)
  font-family serif
  text-decoration none
  letter-spacing 2px
  color #000
  &::before
    content ''
    position absolute
    top 50%
    left 0
    width 2rem
    height 2rem
    background-image svgImport('svg/logo.svg')
    background-repeat no-repeat
    background-position center
    background-size contain
    transform translateY(-50%)
    
