html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary,
.aside-menu__title {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
    display: block;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img,
object,
embed {
    max-width: 100%;
}

ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a,
.cart-item__count-change {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
    font: 100%;
}

th {
    font-weight: bold;
    vertical-align: bottom;
}

td {
    font-weight: normal;
    vertical-align: top;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}

input[type="radio"] {
    vertical-align: text-bottom;
}

input[type="checkbox"] {
    vertical-align: bottom;
}

select,
input,
textarea {
    font: 99% sans-serif;
}

small {
    font-size: 85%;
}

strong {
    font-weight: bold;
}

td,
td img {
    vertical-align: top;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

pre,
code,
kbd,
samp {
    font-family: monospace, sans-serif;
}

label,
input[type=button],
input[type=submit],
input[type=file],
button {
    cursor: pointer;
}

button,
input,
select,
textarea {
    margin: 0;
}

button,
input[type=button] {
    width: auto;
    overflow: visible;
}

html {
    font-family: Helvetica;
    font-size: 16px;
}

p {
    font-size: 1rem;
    line-height: 1.625rem;
}

p + p {
    margin-top: 1rem;
}

.list-marked + p {
    margin-top: 1rem;
}

.list-numbered + p {
    margin-top: 1rem;
}

.table + p {
    margin-top: 1rem;
}

.table-wrap + p {
    margin-top: 1rem;
}

h1 + p {
    margin-top: 1rem;
}

h2 + p {
    margin-top: 0.5625rem;
}

h3 + p {
    margin-top: 0.3125rem;
}

h4 + p {
    margin-top: 0.125rem;
}

h1 {
    font-family: serif;
    font-size: 2.625rem;
    font-weight: bold;
    line-height: 3.2335rem;
}

h2 {
    font-family: serif;
    font-size: 2.0625rem;
    font-weight: bold;
    line-height: 2.5625rem;
}

p + h2 {
    margin-top: 3.375rem;
}

.list-marked + h2 {
    margin-top: 3.375rem;
}

.list-numbered + h2 {
    margin-top: 3.375rem;
}

.table + h2 {
    margin-top: 3.375rem;
}

.table-wrap + h2 {
    margin-top: 3.375rem;
}

h3,
.aside-menu__title {
    font-family: serif;
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 2rem;
}

p + h3,
p + .aside-menu__title {
    margin-top: 3.375rem;
}

.list-marked + h3,
.list-marked + .aside-menu__title {
    margin-top: 3.375rem;
}

.list-numbered + h3,
.list-numbered + .aside-menu__title {
    margin-top: 3.375rem;
}

.table + h3,
.table + .aside-menu__title {
    margin-top: 3.375rem;
}

.table-wrap + h3,
.table-wrap + .aside-menu__title {
    margin-top: 3.375rem;
}

h2 + h3,
h2 + .aside-menu__title {
    margin-top: 0.25rem;
}

h4 {
    font-family: serif;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5625rem;
}

p + h4 {
    margin-top: 3.375rem;
}

.list-marked + h4 {
    margin-top: 3.375rem;
}

.list-numbered + h4 {
    margin-top: 3.375rem;
}

.table + h4 {
    margin-top: 3.375rem;
}

.table-wrap + h4 {
    margin-top: 3.375rem;
}

h3 + h4 {
    margin-top: 0.25rem;
}

a,
.cart-item__count-change {
    color: #e6a917;
    transition: color 0.4s;
}

a:hover,
.cart-item__count-change:hover {
    color: #6d4e03;
    transition: color 0.1s;
}

a:active,
.cart-item__count-change:active {
    color: #8f783f;
    transition: none;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    padding-bottom: 6rem;
}

.container {
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    max-width: 72rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.admin-category {
    display: flex;
    margin: -0.375rem -0.75rem;
}

.admin-category__form {
    display: flex;
}

.admin-category__form .form-input:not(.form-input--hidden),
.admin-category__form .btn {
    margin: 0.375rem 0.75rem;
}

.admin-category__form .form-input:not(.form-input--hidden) {
    display: flex;
    align-items: center;
}

h1 + .admin-form {
    margin-top: 0.75rem;
}

h2 + .admin-form__fieldset {
    margin-top: 0.75rem;
}

.admin-form__fieldset + h2 {
    margin-top: 2.25rem;
}

.admin-form__input + .admin-form__input {
    margin-top: 0.75rem;
}

.admin-form__input.form-input--checkbox {
    display: flex;
}

.admin-form__input.form-input--checkbox + .admin-form__input.form-input--checkbox {
    margin-top: 0.25rem;
}

.admin-form__input.form-input--checkbox .form-input__label {
    order: 2;
}

.admin-form__input.form-input--checkbox .form-input__field {
    order: 1;
    flex-grow: 0;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin-right: 0.75rem;
}

.admin-form__submit {
    margin-top: 2.25rem;
}

.admin-product-properties__item + .admin-product-properties__item {
    margin-top: 0.75rem;
}

.admin-product__item + .admin-product__item {
    margin-top: 0.75rem;
}

.admin-product__item + h2 {
    margin-top: 3rem;
}

.admin-product__image {
    margin-bottom: 0.75rem;
}

.admin-product__buttons {
    margin-top: 3rem;
}

.admin-property {
    display: flex;
    margin: -0.375rem -0.75rem;
}

.admin-property__form {
    display: flex;
}

.admin-property__form .form-input:not(.form-input--hidden),
.admin-property__form .btn {
    margin: 0.375rem 0.75rem;
}

.admin-property__form .form-input:not(.form-input--hidden) {
    display: flex;
    align-items: center;
}

.admin-search.grid {
    margin-top: 0;
    margin-bottom: 0;
}

.admin-search .btn {
    width: 100%;
}

.aside-menu {
    text-align: right;
}

.aside-menu + .aside-menu {
    margin-top: 1.5rem;
}

.aside-menu__list {
    margin-top: 0.75rem;
}

.aside-menu__item + .aside-menu__item {
    margin-top: 0.5rem;
}

.aside-menu__item a {
    text-decoration: none;
    color: #999;
}

.aside-menu__item a:hover {
    text-decoration: underline;
}

.aside-menu__item--active a {
    font-weight: bold;
    color: #000;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 0.75rem;
    line-height: 1.125rem;
}

.breadcrumbs__parent {
    padding-right: 0.375rem;
}

.breadcrumbs__parent a {
    text-decoration: none;
    color: #999;
}

.breadcrumbs__parent a:hover {
    text-decoration: underline;
}

.breadcrumbs__separator {
    border: 0.25rem solid transparent;
    border-left: 0.25rem solid #ccc;
}

.button,
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 2px solid;
    transition: background-color 0.4s;
}

.button:hover,
.btn:hover {
    background-color: #f0f0f0;
}

.button--wide,
.btn--wide {
    width: 100%;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    min-height: 3rem;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.cart-item + .cart-item {
    border-top: 1px solid #fafafa;
}

.cart-item__image,
.cart-item__properties,
.cart-item__counter,
.cart-item__price,
.cart-item__delete {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.cart-item__image {
    width: 6rem;
}

.cart-item__properties {
    margin-right: auto;
}

.cart-item__name {
    font-family: serif;
    font-weight: bold;
}

.cart-item__price {
    width: 12rem;
    text-align: right;
}

.cart-item__price-sum {
    font-weight: bold;
}

.cart-item__price-item {
    font-size: 0.75rem;
    color: #666;
}

.cart-item__delete a {
    display: block;
    width: 0.9375rem;
    height: 1rem;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 15 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 59.1 %2886144%29 - https://sketch.com --%3E%3Ctitle%3Eiconfinder_trash-2_3324927 2%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Корзина' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Desktop-HD' transform='translate%28-889.000000, -238.000000%29' stroke='%23999999'%3E%3Cg id='Group-3' transform='translate%28656.000000, 237.000000%29'%3E%3Cg id='iconfinder_trash-2_3324927-2' transform='translate%28233.000000, 2.000000%29'%3E%3Cg id='iconfinder_trash-2_3324927'%3E%3Cpolyline id='Path' points='0 3.2 1.6 3.2 14.4 3.2'%3E%3C/polyline%3E%3Cpath d='M12.8,3.2 L12.8,14.4 C12.8,15.2836556 12.0836556,16 11.2,16 L3.2,16 C2.3163444,16 1.6,15.2836556 1.6,14.4 L1.6,3.2 M4,3.2 L4,1.6 C4,0.7163444 4.7163444,0 5.6,0 L8.8,0 C9.6836556,0 10.4,0.7163444 10.4,1.6 L10.4,3.2' id='Shape'%3E%3C/path%3E%3Cline x1='5.6' y1='7.2' x2='5.6' y2='12' id='Path'%3E%3C/line%3E%3Cline x1='8.8' y1='7.2' x2='8.8' y2='12' id='Path'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
}

.cart-item__counter {
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.cart-item__count {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.cart-item__count-change {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.cart-summary {
    display: flex;
    justify-content: flex-end;
    margin-left: -0.75rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.75rem;
    border-top: 1px solid #ccc;
}

.cart-summary__count,
.cart-summary__price {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.cart-summary__price {
    width: 11rem;
    text-align: right;
    color: #666;
}

.cart-summary__price span {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.cart-summary--admin {
    padding-right: 0;
}

h1 + .categories-list {
    margin-top: 0.75rem;
}

.categories-list__item + .categories-list__item {
    margin-top: 1.5rem;
}

@supports (display: contents) {
    @media (min-width: 800px) {
        .categories-list {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            grid-column-gap: 1.5rem;
            grid-row-gap: 2.25rem;
        }

        .categories-list__item {
            display: contents;
        }

        .categories-list__item .admin-category,
        .categories-list__item .admin-category__form {
            display: contents;
        }

        .categories-list__item .admin-category .form-input,
        .categories-list__item .admin-category__form .form-input,
        .categories-list__item .admin-category .btn,
        .categories-list__item .admin-category__form .btn {
            margin: 0;
        }

        .categories-list__item .admin-category__form--add::after {
            content: '';
        }
    }
}

.footer-logo {
    position: relative;
    padding-top: 5rem;
    font-family: serif;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    color: #000;
    background-image: url("data:image/svg+xml;utf8,%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0%29 --%3E%3Csvg version='1.1' id='Слой_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 90 96' style='enable-background:new 0 0 90 96%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:none%3Bstroke:%23000000%3Bstroke-width:4%3Bstroke-miterlimit:10%3B%7D%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M34.97,53.82c0,0,2.71,2.71,3.62,3.62c3.62,3.62,3.62,3.62,0,7.24c-4.77,4.77-13.14,13.14-18.1,18.1 c-7.24,7.24-7.24,14.48-14.48,7.24s0-7.24,7.24-14.48C34.97,53.82,85.64,3.14,85.64,3.14s11.15,18.1-30.77,59.72L44.02,52.01'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 4rem;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.footer-logo::before,
.footer-logo::after {
    content: '';
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent, #ccc, transparent);
    -webkit-filter: invert(1);
    filter: invert(1);
}

.footer-logo::before {
    left: 0;
}

.footer-logo::after {
    right: 0;
}

.footer-menu {
    line-height: 1.625rem;
    text-align: center;
}

.footer-menu__item + .footer-menu__item {
    margin-top: 0.25rem;
}

.footer-menu a {
    text-decoration: none;
    color: #aaa;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #1e1603;
}

.footer__inner {
    padding: 2.25rem;
}

.footer__subtitle {
    margin-bottom: 0.5625rem;
    font-family: serif;
    font-size: 1.625rem;
    text-align: center;
    color: #fff;
}

.footer__phone {
    margin-top: 1.5rem;
    text-align: center;
    color: #fff;
}

.footer__mail {
    margin-top: 0.5rem;
    text-align: center;
}

.footer__mail a {
    color: #ccc;
    transition: color 0.4s;
}

.footer__mail a:hover {
    color: #fff;
    transition: color 0.1s;
}

.form-input--checkbox {
    display: flex;
}

.form-input--captcha {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form-input--hidden {
    display: none;
}

.form-input__row {
    display: flex;
}

.form-input__captcha-image {
    width: 100%;
    margin: 0.75rem 0.75rem 0;
}

.form-input__field,
.form-input__select {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    border: 1px solid #e7e7e8;
}

textarea.form-input__field,
textarea.form-input__select {
    height: calc(9.75rem + 2px);
    resize: none;
}

.form-input__label {
    display: inline-block;
    margin-bottom: 0.25rem;
}

.form-input__checkbox {
    flex-shrink: 0;
    margin-right: 0.375rem;
}

.form-login,
.form-user {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: #fafafa;
}

.form-login__input,
.form-user__input,
.form-login__service,
.form-user__service {
    margin-bottom: 1.5rem;
}

.form-login__input .form-input__label,
.form-user__input .form-input__label {
    color: #666;
}

.form-login__input--radio,
.form-user__input--radio {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.form-login__input--radio .form-input__field,
.form-user__input--radio .form-input__field {
    flex-grow: 0;
    width: 1rem;
    margin-right: 0.5rem;
}

.form-login__input--radio .form-input__label,
.form-user__input--radio .form-input__label {
    order: 2;
}

.form-login__service,
.form-user__service {
    display: flex;
    justify-content: space-between;
}

.form-login__checkbox,
.form-user__checkbox {
    flex-shrink: 0;
}

.form-login__checkbox .form-input__label,
.form-user__checkbox .form-input__label {
    order: 2;
    white-space: nowrap;
}

.form-login__checkbox .form-input__field,
.form-user__checkbox .form-input__field {
    width: 1.5rem;
}

.form-login__submit,
.form-user__submit {
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #fff;
    background-color: #e6a917;
    border: none;
    cursor: pointer;
    transition: background 0.4s;
}

.form-login__submit:hover,
.form-user__submit:hover {
    background-color: #efc45d;
    transition: background 0.1s;
}

.form-login__submit:active,
.form-user__submit:active {
    background-color: #a27710;
    transition: none;
}

.form-login__load,
.form-user__load {
    position: relative;
    display: none;
    overflow: hidden;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    -webkit-animation-name: loadRotate;
    animation-name: loadRotate;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.form-login__load::before,
.form-user__load::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right top, #fff, #ccc, #fff);
}

.form-login__load::after,
.form-user__load::after {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 2rem;
    height: 2rem;
    background-color: #fafafa;
    border-radius: 50%;
}

.form-login--loading,
.form-user--loading {
    justify-content: center;
    align-items: center;
}

.form-login--loading .form-login__load,
.form-user--loading .form-user__load {
    display: block;
}

.form-login--loading .form-login__input,
.form-user--loading .form-user__input,
.form-login--loading .form-login__service,
.form-user--loading .form-user__service,
.form-login--loading .form-login__submit,
.form-user--loading .form-user__submit {
    display: none;
}

.form-login__error,
.form-user__error {
    display: none;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    text-align: center;
    color: #b83d3d;
    border: 0.5px solid;
}

.form-login__error--active,
.form-user__error--active {
    display: block;
}

.form-login__subheader,
.form-user__subheader {
    font-weight: bold;
    margin-bottom: 0.75rem;
}

@-webkit-keyframes loadRotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes loadRotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.form-user__input .form-input {
    display: flex;
    align-items: baseline;
}

.form-user__input .form-input__label {
    width: 8rem;
}

.form-user__input .form-input__field[readonly] {
    background: transparent;
    border: 1px solid transparent;
}

.form-user__buttons {
    display: flex;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.form-user__buttons .btn {
    flex-basis: 50%;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.75rem;
    color: #fff;
    background-color: #e6a917;
    border: none;
    cursor: pointer;
    transition: background 0.4s;
}

.form-user__buttons .btn:hover {
    background-color: #efc45d;
    transition: background 0.1s;
}

.form-user__buttons .btn:active {
    background-color: #a27710;
    transition: none;
}

.form-user__buttons .btn[disabled] {
    cursor: default;
    background-color: #f3d58b;
}

.form-user__buttons .btn[disabled]:hover {
    background-color: #f3d58b;
}

.form-user__buttons .btn[disabled]:active {
    background-color: #f3d58b;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.grid--align-center {
    align-items: center;
}

.grid--align-flex-end {
    align-items: flex-end;
}

.grid--align-flex-begin {
    align-items: flex-begin;
}

.grid--align-stretch {
    align-items: stretch;
}

.grid--align-baseline {
    align-items: baseline;
}

.grid--justify-flex-start {
    justify-content: flex-start;
}

.grid--justify-flex-end {
    justify-content: flex-end;
}

.grid--justify-center {
    justify-content: center;
}

.grid--justify-space-between {
    justify-content: space-between;
}

.grid--justify-space-around {
    justify-content: space-around;
}

.grid--justify-space-evenly {
    justify-content: space-evenly;
}

.grid--nopadding {
    margin-left: 0;
    margin-right: 0;
}

.grid--padding-y {
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
}

.grid__cell {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.grid__cell--1 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 12 * 1);
}

.grid__cell--2 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 12 * 2);
}

.grid__cell--3 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 12 * 3);
}

.grid__cell--4 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 12 * 4);
}

.grid__cell--5 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 12 * 5);
}

.grid__cell--6 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 12 * 6);
}

.grid__cell--7 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 12 * 7);
}

.grid__cell--8 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 12 * 8);
}

.grid__cell--9 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 12 * 9);
}

.grid__cell--10 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 12 * 10);
}

.grid__cell--11 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 12 * 11);
}

.grid__cell--12 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 12 * 12);
}

.grid--cols-10 > .grid__cell--1 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 10 * 1);
}

.grid--cols-10 > .grid__cell--2 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 10 * 2);
}

.grid--cols-10 > .grid__cell--3 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 10 * 3);
}

.grid--cols-10 > .grid__cell--4 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 10 * 4);
}

.grid--cols-10 > .grid__cell--5 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 10 * 5);
}

.grid--cols-10 > .grid__cell--6 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 10 * 6);
}

.grid--cols-10 > .grid__cell--7 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 10 * 7);
}

.grid--cols-10 > .grid__cell--8 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 10 * 8);
}

.grid--cols-10 > .grid__cell--9 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 10 * 9);
}

.grid--cols-10 > .grid__cell--10 {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 10 * 10);
}

.grid--nopadding > .grid__cell {
    padding-left: 0;
    padding-right: 0;
}

.grid--padding-y > .grid__cell {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.header-cart {
    position: relative;
    display: block;
    width: 1.375rem;
    height: 1.3125rem;
}

.header-cart::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 59.1 %2886144%29 - https://sketch.com --%3E%3Ctitle%3EКорзина%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Шапка' transform='translate%28-1267.000000, -63.000000%29' stroke='%23333333' stroke-width='2'%3E%3Cg id='Корзина' transform='translate%281268.000000, 59.000000%29'%3E%3Cg%3E%3Cg transform='translate%280.000000, 5.000000%29'%3E%3Ccircle id='Oval' cx='8' cy='20' r='1'%3E%3C/circle%3E%3Ccircle id='Oval' cx='19' cy='20' r='1'%3E%3C/circle%3E%3Cpath d='M0,0 L4,0 L6.68,13.39 C6.86873697,14.3402315 7.71138394,15.0185624 8.68,15 L18.4,15 C19.3686161,15.0185624 20.211263,14.3402315 20.4,13.39 L22,5 L5,5' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: opacity 0.4s;
}

.header-cart:hover::before {
    opacity: 0.75;
    transition: opacity 0.1s;
}

.header-cart__count {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    background-color: #b83d3d;
    border-radius: 50%;
    transform: translate(50%, -50%);
    transition: opacity 0.4s;
}

.header-cart__count:empty {
    opacity: 0;
}

.header-login {
    display: flex;
    margin: -0.375rem;
}

.header-login__sep {
    margin: 0.375rem;
    color: #aaa;
}

.header-login__link {
    margin: 0.375rem;
    font-size: 0.875rem;
    text-decoration: none;
    color: #aaa;
    transition: color 0.4s;
}

.header-login__link:hover {
    color: #f0f0f0;
    transition: color 0.1s;
}

.header-logo {
    position: relative;
    display: block;
    padding-left: 2.5rem;
    font-family: serif;
    text-decoration: none;
    letter-spacing: 2px;
    color: #000;
}

.header-logo::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 2rem;
    height: 2rem;
    background-image: url("data:image/svg+xml;utf8,%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0%29 --%3E%3Csvg version='1.1' id='Слой_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 90 96' style='enable-background:new 0 0 90 96%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:none%3Bstroke:%23000000%3Bstroke-width:4%3Bstroke-miterlimit:10%3B%7D%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M34.97,53.82c0,0,2.71,2.71,3.62,3.62c3.62,3.62,3.62,3.62,0,7.24c-4.77,4.77-13.14,13.14-18.1,18.1 c-7.24,7.24-7.24,14.48-14.48,7.24s0-7.24,7.24-14.48C34.97,53.82,85.64,3.14,85.64,3.14s11.15,18.1-30.77,59.72L44.02,52.01'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateY(-50%);
}

.header-menu__list {
    display: flex;
    margin-left: -2rem;
    margin-right: -2rem;
}

.header-menu__list-item {
    margin-left: 2rem;
    margin-right: 2rem;
}

.header-menu__list-item a {
    position: relative;
    text-decoration: none;
    color: #666;
    transition: 0.4s color;
}

.header-menu__list-item a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #666;
    transition: transform 0.4s, background-color 0.4s;
    transform: scaleX(0);
    transform-origin: 50% 0 0;
}

.header-menu__list-item a:hover {
    color: #333;
    transition: 0.1s color;
}

.header-menu__list-item a:hover::before {
    background-color: #333;
    transition: transform 0.1s, background-color 0.1s;
    transform: scaleX(1);
}

.header-phone {
    font-size: 0.875rem;
    color: #f0f0f0;
}

.header-service__list {
    display: flex;
    margin: -0.375rem;
}

.header-service__list-item {
    margin: 0.375rem;
}

.header-service__list-item a {
    font-size: 0.875rem;
    text-decoration: none;
    color: #aaa;
    transition: color 0.4s;
}

.header-service__list-item a:hover {
    color: #f0f0f0;
    transition: color 0.1s;
}

.header-service__list-item--active a {
    color: #f0f0f0;
}

.header {
    border-bottom: 0.5px solid #ccc;
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}

.header__item {
    padding: 15px 1.25rem;
}

.header__item--service {
    margin-left: auto;
}

.header__item--menu {
    margin-left: auto;
    margin-right: auto;
}

.header__top {
    background-color: #1e1603;
}

.header__bottom .header__item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.home-category {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    justify-content: center;
    height: 320px;
    padding: 2rem;
    text-decoration: none;
    cursor: pointer;
}

.home-category:hover .home-category__image {
    -webkit-filter: brightness(0.5) grayscale(0.5);
    filter: brightness(0.5) grayscale(0.5);
    transform: scale(1.05);
    transition: transform 0.1s, -webkit-filter 0.1s;
    transition: transform 0.1s, filter 0.1s;
    transition: transform 0.1s, filter 0.1s, -webkit-filter 0.1s;
}

.home-category__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: transform 0.4s, -webkit-filter 0.4s;
    transition: transform 0.4s, filter 0.4s;
    transition: transform 0.4s, filter 0.4s, -webkit-filter 0.4s;
}

.home-category__image img {
    min-width: 100%;
    min-height: 100%;
}

.home-category__name {
    z-index: 100;
    font-family: sans;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.home-section + .home-section {
    margin-top: 6rem;
}

.home-section:first-child {
    margin-top: 3rem;
}

.home-section__header {
    text-align: center;
}

.iframe-responsive {
    margin-bottom: 1rem;
}

.iframe-responsive__iframe {
    position: relative;
    margin-bottom: 0.5rem;
    padding-bottom: 56.25%;
}

.iframe-responsive__iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.iframe-responsive__desc {
    margin-bottom: 1rem;
    font-style: italic;
    line-height: 1.375rem;
}

.order-id {
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #999;
}

.order-products__item {
    display: flex;
    justify-content: space-between;
}

.order-products__item + .order-products__item {
    margin-top: 0.75rem;
    padding-top: 0.75rem;
    border-top: 0.5px #ccc solid;
}

.order-products__price {
    text-align: right;
}

.order-products__price-item,
.order-products__count {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    color: #666;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    margin-top: 3rem;
}

.pagination__item {
    border: 2px solid transparent;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.pagination__item--active {
    border: 2px solid #333;
}

.pagination__item a,
.pagination__item span {
    display: inline-block;
    min-width: 1rem;
    line-height: 1rem;
    text-align: center;
    text-decoration: none;
    color: #666;
}

.pagination__item a:hover {
    color: #333;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.product-price__value {
    font-size: 2.0625rem;
}

.product-price__btn a {
    position: relative;
    padding: 0.5rem 4rem;
    text-decoration: none;
    color: #333;
}

.product-price__btn a::before,
.product-price__btn a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    transition: transform 0.4s;
}

.product-price__btn a:hover::before {
    transform: translate(-2px, -2px);
    transition: transform 0.1s;
}

.product-price__btn a:hover::after {
    transform: translate(2px, 2px);
    transition: transform 0.1s;
}

.product-properties {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-row-gap: 0.75rem;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    margin-bottom: 3.375rem;
}

.product-properties__item {
    display: contents;
}

.product-properties__name {
    font-weight: bold;
    white-space: nowrap;
}

.products-item {
    text-decoration: none;
    color: #000;
}

.products-item:hover .products-item__name {
    text-decoration: underline;
}

.products-item__name {
    margin-top: 0.875rem;
    line-height: 1.25;
}

.products-item__price {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.25rem;
}

h1 + .properties-list {
    margin-top: 0.75rem;
}

.properties-list__item + .properties-list__item {
    margin-top: 1.5rem;
}

@supports (display: contents) {
    @media (min-width: 800px) {
        .properties-list {
            display: grid;
            grid-template-columns: 1fr -webkit-min-content -webkit-min-content;
            grid-template-columns: 1fr min-content min-content;
            grid-column-gap: 1.5rem;
            grid-row-gap: 2.25rem;
        }

        .properties-list__item {
            display: contents;
        }

        .properties-list__item .admin-property,
        .properties-list__item .admin-property__form {
            display: contents;
        }

        .properties-list__item .admin-property .form-input,
        .properties-list__item .admin-property__form .form-input,
        .properties-list__item .admin-property .btn,
        .properties-list__item .admin-property__form .btn {
            margin: 0;
        }

        .properties-list__item .admin-property__form--add::after {
            content: '';
        }
    }
}

.table-orders .table__cell {
    padding: 0.75rem;
    vertical-align: top;
}

.table-orders .table__header:nth-child(2),
.table-orders .table__cell:nth-child(2) {
    width: 100%;
}

.table-orders .table__header:not(:nth-child(2)),
.table-orders .table__cell:not(:nth-child(2)) {
    white-space: nowrap;
}

.table-orders .table__header:nth-child(3),
.table-orders .table__cell:nth-child(3) {
    font-weight: bold;
}

.table-wrap {
    overflow-x: auto;
}

.table {
    width: 100%;
}

.table__header {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    text-align: left;
    vertical-align: middle;
    background-color: #d8ceb7;
}

.table__cell {
    padding: 0.5rem 0.75rem;
    vertical-align: middle;
    border-bottom: 1px solid #d8ceb7;
}

.table__row:last-child > .table__cell {
    border-bottom: 1px solid #d8ceb7;
}

.table__cell--empty {
    text-align: center;
}

.table__cell--empty::after {
    content: '—';
    font-size: 1.5rem;
    font-weight: bold;
}

p + .tabs {
    margin-top: 1rem;
}

.list-marked + .tabs {
    margin-top: 1rem;
}

.list-numbered + .tabs {
    margin-top: 1rem;
}

.table + .tabs {
    margin-top: 1rem;
}

.table-wrap + .tabs {
    margin-top: 1rem;
}

h1 + .tabs {
    margin-top: 1rem;
}

h2 + .tabs {
    margin-top: 0.5625rem;
}

h3 + .tabs {
    margin-top: 0.3125rem;
}

h4 + .tabs {
    margin-top: 0.125rem;
}

.tabs__labels {
    display: flex;
    flex-wrap: wrap;
    margin: -0.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
}

.tabs__label {
    margin: 0.25rem;
    margin-bottom: 0;
    padding: 0.375rem 1.5rem;
    color: var(--color-link);
    background-color: #ebe2d6;
    border-radius: 0.625rem 0.625rem 0 0;
    cursor: pointer;
}

.tabs__label--active {
    color: #fff;
    background-color: #715644;
    border-bottom: none;
    cursor: default;
}

@supports ((-webkit-text-decoration-style: dashed) or (text-decoration-style: dashed)) {
    .tabs__label--active {
        text-decoration: none;
        border-bottom: none;
    }
}

.tabs__item {
    display: none;
    padding-top: 1.5rem;
}

.tabs__item--active {
    display: block;
}

@media screen and (min-width: 480px) {
    .grid__cell--s-1 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 1);
    }

    .grid__cell--s-2 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 2);
    }

    .grid__cell--s-3 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 3);
    }

    .grid__cell--s-4 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 4);
    }

    .grid__cell--s-5 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 5);
    }

    .grid__cell--s-6 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 6);
    }

    .grid__cell--s-7 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 7);
    }

    .grid__cell--s-8 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 8);
    }

    .grid__cell--s-9 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 9);
    }

    .grid__cell--s-10 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 10);
    }

    .grid__cell--s-11 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 11);
    }

    .grid__cell--s-12 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 12);
    }

    .grid--cols-10 > .grid__cell--s-1 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 1);
    }

    .grid--cols-10 > .grid__cell--s-2 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 2);
    }

    .grid--cols-10 > .grid__cell--s-3 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 3);
    }

    .grid--cols-10 > .grid__cell--s-4 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 4);
    }

    .grid--cols-10 > .grid__cell--s-5 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 5);
    }

    .grid--cols-10 > .grid__cell--s-6 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 6);
    }

    .grid--cols-10 > .grid__cell--s-7 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 7);
    }

    .grid--cols-10 > .grid__cell--s-8 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 8);
    }

    .grid--cols-10 > .grid__cell--s-9 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 9);
    }

    .grid--cols-10 > .grid__cell--s-10 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 10);
    }
}

@media screen and (min-width: 800px) {
    .grid__cell--m-1 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 1);
    }

    .grid__cell--m-2 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 2);
    }

    .grid__cell--m-3 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 3);
    }

    .grid__cell--m-4 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 4);
    }

    .grid__cell--m-5 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 5);
    }

    .grid__cell--m-6 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 6);
    }

    .grid__cell--m-7 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 7);
    }

    .grid__cell--m-8 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 8);
    }

    .grid__cell--m-9 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 9);
    }

    .grid__cell--m-10 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 10);
    }

    .grid__cell--m-11 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 11);
    }

    .grid__cell--m-12 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 12);
    }

    .grid--cols-10 > .grid__cell--m-1 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 1);
    }

    .grid--cols-10 > .grid__cell--m-2 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 2);
    }

    .grid--cols-10 > .grid__cell--m-3 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 3);
    }

    .grid--cols-10 > .grid__cell--m-4 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 4);
    }

    .grid--cols-10 > .grid__cell--m-5 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 5);
    }

    .grid--cols-10 > .grid__cell--m-6 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 6);
    }

    .grid--cols-10 > .grid__cell--m-7 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 7);
    }

    .grid--cols-10 > .grid__cell--m-8 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 8);
    }

    .grid--cols-10 > .grid__cell--m-9 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 9);
    }

    .grid--cols-10 > .grid__cell--m-10 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 10);
    }
}

@media screen and (min-width: 1000px) {
    .grid__cell--l-1 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 1);
    }

    .grid__cell--l-2 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 2);
    }

    .grid__cell--l-3 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 3);
    }

    .grid__cell--l-4 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 4);
    }

    .grid__cell--l-5 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 5);
    }

    .grid__cell--l-6 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 6);
    }

    .grid__cell--l-7 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 7);
    }

    .grid__cell--l-8 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 8);
    }

    .grid__cell--l-9 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 9);
    }

    .grid__cell--l-10 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 10);
    }

    .grid__cell--l-11 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 11);
    }

    .grid__cell--l-12 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 12);
    }

    .grid--cols-10 > .grid__cell--l-1 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 1);
    }

    .grid--cols-10 > .grid__cell--l-2 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 2);
    }

    .grid--cols-10 > .grid__cell--l-3 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 3);
    }

    .grid--cols-10 > .grid__cell--l-4 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 4);
    }

    .grid--cols-10 > .grid__cell--l-5 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 5);
    }

    .grid--cols-10 > .grid__cell--l-6 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 6);
    }

    .grid--cols-10 > .grid__cell--l-7 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 7);
    }

    .grid--cols-10 > .grid__cell--l-8 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 8);
    }

    .grid--cols-10 > .grid__cell--l-9 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 9);
    }

    .grid--cols-10 > .grid__cell--l-10 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 10);
    }
}

@media screen and (min-width: 1200px) {
    .grid__cell--xl-1 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 1);
    }

    .grid__cell--xl-2 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 2);
    }

    .grid__cell--xl-3 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 3);
    }

    .grid__cell--xl-4 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 4);
    }

    .grid__cell--xl-5 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 5);
    }

    .grid__cell--xl-6 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 6);
    }

    .grid__cell--xl-7 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 7);
    }

    .grid__cell--xl-8 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 8);
    }

    .grid__cell--xl-9 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 9);
    }

    .grid__cell--xl-10 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 10);
    }

    .grid__cell--xl-11 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 11);
    }

    .grid__cell--xl-12 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 12);
    }

    .grid--cols-10 > .grid__cell--xl-1 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 1);
    }

    .grid--cols-10 > .grid__cell--xl-2 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 2);
    }

    .grid--cols-10 > .grid__cell--xl-3 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 3);
    }

    .grid--cols-10 > .grid__cell--xl-4 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 4);
    }

    .grid--cols-10 > .grid__cell--xl-5 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 5);
    }

    .grid--cols-10 > .grid__cell--xl-6 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 6);
    }

    .grid--cols-10 > .grid__cell--xl-7 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 7);
    }

    .grid--cols-10 > .grid__cell--xl-8 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 8);
    }

    .grid--cols-10 > .grid__cell--xl-9 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 9);
    }

    .grid--cols-10 > .grid__cell--xl-10 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 10);
    }
}

@media screen and (min-width: 1600px) {
    .grid__cell--hd-1 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 1);
    }

    .grid__cell--hd-2 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 2);
    }

    .grid__cell--hd-3 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 3);
    }

    .grid__cell--hd-4 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 4);
    }

    .grid__cell--hd-5 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 5);
    }

    .grid__cell--hd-6 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 6);
    }

    .grid__cell--hd-7 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 7);
    }

    .grid__cell--hd-8 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 8);
    }

    .grid__cell--hd-9 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 9);
    }

    .grid__cell--hd-10 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 10);
    }

    .grid__cell--hd-11 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 11);
    }

    .grid__cell--hd-12 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 12 * 12);
    }

    .grid--cols-10 > .grid__cell--hd-1 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 1);
    }

    .grid--cols-10 > .grid__cell--hd-2 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 2);
    }

    .grid--cols-10 > .grid__cell--hd-3 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 3);
    }

    .grid--cols-10 > .grid__cell--hd-4 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 4);
    }

    .grid--cols-10 > .grid__cell--hd-5 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 5);
    }

    .grid--cols-10 > .grid__cell--hd-6 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 6);
    }

    .grid--cols-10 > .grid__cell--hd-7 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 7);
    }

    .grid--cols-10 > .grid__cell--hd-8 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 8);
    }

    .grid--cols-10 > .grid__cell--hd-9 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 9);
    }

    .grid--cols-10 > .grid__cell--hd-10 {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 10 * 10);
    }
}

@media (max-width: 799px) {
    .admin-category {
        flex-direction: column;
    }

    .admin-category__form {
        flex-direction: column;
    }

    .admin-property {
        flex-direction: column;
    }

    .admin-property__form {
        flex-direction: column;
    }
}
