.footer-logo
  position relative
  padding-top (basePadding/3*20)
  font-family serif
  text-align center
  text-decoration none
  letter-spacing 2px
  color #000
  background-image svgImport('svg/logo.svg')
  background-repeat no-repeat
  background-position center top
  background-size 4rem
  filter invert(1)
  &::before
  &::after
    content ''
    position absolute
    top 0
    width 1px
    height 100%
    background-image linear-gradient(to bottom, transparent, #ccc, transparent)
    filter invert(1)
  &::before
    left 0
  &::after
    right 0
    
