extends /blocks/layout/layout

include /blocks/home-category/home-category
include /blocks/home-section/home-section
include /blocks/products-item/products-item

block head
  -
    var pageTitle = ``
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      br
      h1 401 Не авторизован
      br
      h3 Доступно только зарегистрированным пользователям.
      br
      a(href='/users/register').btn Регистрация 
      br
      a(href='/users/login').btn Войти
      br
      a(href='/').btn На главную