extends /blocks/layout/layout

include /blocks/home-category/home-category
include /blocks/home-section/home-section
include /blocks/products-item/products-item

block head
  -
    var pageTitle = ``
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      br
      h1 403 Ограничено
      br
      h3 У вас нет прав доступа к данному ресурсу.
      br
      a(href='/users/login').btn Войти
      a(href='/').btn На главную