extends /blocks/layout/layout

include /blocks/home-category/home-category
include /blocks/home-section/home-section
include /blocks/products-item/products-item

block head
  -
    var pageTitle = ``
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      br
      h1 404 Не найдено
      br
      h3 Запрашиваемый ресурс не найден.
      br
      a(href='/').btn На главную