extends /blocks/layout/layout

include /blocks/form-input/form-input
include /blocks/admin-category/admin-category
include /blocks/aside-menu/aside-menu

block head
  -
    var pageTitle = 'Админпанель: Категории'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      h1 Категории
      +grid({'padding-y': true})
        +cell({l: 9, m: 8, xs: 12})
          .categories-list
            .categories-list__item: +adminCategory({}, topCategories, true)
            each form in  forms
              -
                const editName = `${form.id}-edit`;
                const delName = `${form.id}-del`;
                const itemClassList = ['categories-list__item']
              .categories-list__item: +adminCategory(form, topCategories)
        +cell({l: 3, m: 4, s: 6, xs: 12}): +asideMenu('Администрирование', menu)





