extends /blocks/layout/layout

include /blocks/form-input/form-input
include /blocks/admin-category/admin-category
include /blocks/aside-menu/aside-menu

block head
  -
    var pageTitle = 'Администрирование: Доставка'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      br
      h1 Доставка
      br
      .admin-category
        form(action='/admin/delivery/add' method='post' name != 'newDelivery').admin-category__form.admin-category__form--add
          +formInput({type: 'text', name: 'new_name', required: true, placeholder: 'Новая категория'})
          +formInput({type: 'text', name: 'new_cost', required: true, placeholder: 'Стоимость'})
          button(type='submit').btn Добавить
      br
      br
      each form in list
        .admin-category
          form(action='/admin/delivery/edit' method='post' name != 'editDelivery').admin-category__form
            +formInput({type: 'text', name: 'new_name', value: form.name})
            +formInput({type: 'text', name: 'new_cost', value: form.cost})
            input(type='hidden' name='edit_id' value != form.id)
            button(type='submit').btn Сохранить
          form(action='/admin/delivery/del' method='post' name != 'editDelivery').admin-category__form
            input(type='hidden' name='delete' value != form.id)
            button(type='submit').btn Удалить
