extends /blocks/layout/layout

include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      h1 Администрирование
      br
      br
      a(href='/admin/categories' name='ctg-link').btn Категории
      br
      a(href='/admin/products' name='ctg-link').btn Товары
      br
      a(href='/admin/orders' name='ctg-link').btn Заказы
      br
      a(href='/admin/users' name='ctg-link').btn Пользователи
      br
      br
      a(href='/admin/delivery' name='ctg-link').btn Доставка
      br
      a(href='/admin/properties' name='ctg-link').btn Характеристики товара
      br
       