extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/form-input/form-input
include /blocks/table/table
include /blocks/order-products/order-products
include /blocks/cart-item/cart-item
include /blocks/cart-summary/cart-summary
include /blocks/product-properties/product-properties

block head
  -
    var pageTitle = `Админпанель: Заказ № `
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      h1 Заказ от !{order.date.toLocaleString('ru', options)}
      .order-id !{order._id}
      br
      +grid({'padding-y': true})
        +cell({m: 7, xs: 12})
          each item in order.order
            +cartItem(item, { 'admin':true })
          +cartSummary(order.order, { 'admin':true })
        +cell({m: 5, xs: 12})
          form(method='POST' action=`/admin/order/record-edit?id=${order._id}` name='order').form-login
            -
              const orderInfo = [
                {name: 'Имя:', value: order.customer.name},
                {name: 'e-mail:', value: order.customer.email},
                {name: 'Телефон:', value: order.customer.phone},
                {name: 'Адрес:', value: order.customer.address},
                {name: 'Комментарий:', value: order.userNote},
                {name: 'Доставка:', value: order.delivery},
              ]
              for (item of statusOpt) {
                if (item.value === order.status) item.selected = true
              }
              for (item of payStatus) {
                if (item.value === order.payment) item.selected = true
              }
            +productProperties(orderInfo)
            +formInput({
              'type': 'select', 'name': 'status', 'label': 'Статус заказа', 'options': statusOpt
            }).form-login__input#order-status

            +formInput({
              'type': 'select', 'name': 'payment', 'label': 'Статус оплаты', 'options': payStatus
            }).form-login__input#order-payment
            +formInput({type: 'textarea', options: [], label: 'Комментарий менеджера', name: 'managerComment', content: order.managerNote})#form-comment__managerComment.form-login__input
            button(type='submit').form-login__submit Сохранить
            br
            a(href='/admin/orders').btn.form-reset Закрыть
        
            //a(href=`/admin/orders/record?id=${order._id}&report=true`).btn Печать
            .form-login__load
          form(method='POST' action='/admin/order-details' name='order-details' target='_blank')
            input(type='hidden' name='idToDetail' value!=order._id)
            button(type='submit') Детализация
