extends /blocks/layout/layout

include /blocks/form-input/form-input
include /blocks/table/table
include /blocks/order-products/order-products
include /blocks/aside-menu/aside-menu

block head
  -
    var pageTitle = 'Админпанель: Заказы'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content 
      br
      h1 Заказы
      br
      +grid({'padding-y': true})
        +cell({l: 9, m: 8, xs: 12})
          +grid({ 'padding-y': true })
            +cell({ m: 6, xs: 12 }): +grid({ tag: 'form' })(action='/admin/orders/search' method='POST' name='formSearch')
              +cell({ xs: 8 }): +formInput({ type: 'search', name: 'query', placeholder: 'Поиск', value: qr, required: true })
              +cell({ xs: 4 }): button(type='submit').btn Найти
            +cell({m: 3, xs: 12}): p: strong: a(href='#' data-mrc-sh-title='orders-search') Показать фильтр
          h2(style='margin-top:32px; margin-bottom: 8px; font-size: 1.5rem' data-mrc-sh-body='orders-search') Фильтр
          +grid({ tag: 'form', 'padding-y': true })(action='/admin/orders/filter' method='POST' name='formFilter' data-mrc-sh-body='orders-search')
            +cell({ m: 4, xs: 12 }): +formInput({ type: 'date', name: 'start-date', value: dateS })
            +cell({ m: 4, xs: 12 }): +formInput({ type: 'date', name: 'end-date', value: dateE })
            +cell({ m: 4, xs: 12 })
              -
                const options = [{value: 'none', name: 'Все статусы'}]
              each item in statusOpt
                - options.push({value: item.value, name: item.name})
              +formInput({ type: 'select', name: 'status', options: options })
            +cell({ m: 4, xs: 12 })
              -
                const options = [{value: 'none', name: 'Все оплаты'}]
              each item in payStatus
                - options.push({value: item.value, name: item.name})
              +formInput({type: 'select', name: 'payment', options: options})
            +cell({ m: 4, xs: 12 }): button(type='submit').btn Фильтр
          h2(style='margin-top:32px; margin-bottom: 8px; font-size: 1.5rem' data-mrc-sh-body='orders-search') Отчёт
          +grid({ tag: 'form', 'padding-y': true })(method='POST' action='/admin/orders/print-to-doc' name='printToDoc' target='_blank' data-mrc-sh-body='orders-search')
            +cell({ m: 4, xs: 12 }): +formInput({type: 'month', name: 'period'})(type='month' name='period')
            +cell({ m: 4, xs: 12 })
              -
                const options = [{value: 'none'}]
              each item in statusOpt
                - options.push({value: item.value, name: item.name})
              +formInput({type: 'select', name: 'status', options: options})
            +cell({ m: 4, xs: 12 }): button(type='submit').btn Отчёт
          a(href='/admin/orders' style='margin-top:32px' data-mrc-sh-body='orders-search').btn Сбросить фильтры
          .table-wrap(style='margin-top:32px')
            table.table.table-orders
              tr
                th.table__header № 
                  a(href='/admin/orders?sort=orderNum&order=asc') # 
                  a(href='/admin/orders?sort=orderNum&order=desc') *
                th.table__header Создан 
                  a(href='/admin/orders?sort=date&order=asc') # 
                  a(href='/admin/orders?sort=date&order=desc') *
                th.table__header Заказчик 
                  a(href='/admin/orders?sort=customerName&order=asc') # 
                  a(href='/admin/orders?sort=customerName&order=desc') *
                th.table__header Статус 
                  a(href='/admin/orders?sort=status&order=asc') # 
                  a(href='/admin/orders?sort=status&order=desc') *
                th.table__header Оплата 
                  a(href='/admin/orders?sort=payment&order=asc') # 
                  a(href='/admin/orders?sort=payment&order=desc') *
                th.table__header Доставка 
                  a(href='/admin/orders?sort=delivery&order=asc') # 
                  a(href='/admin/orders?sort=delivery&order=desc') *
                th.table__header
                if isAdmin
                  th.table__header
                each item in orders
                  tr
                    td.table__cell !{item.orderNum}
                    td.table__cell !{item.date.date}<br>!{item.date.time}
                    td.table__cell !{item.customerName}
                    td.table__cell !{item.status}
                    td.table__cell !{item.payment}
                    td.table__cell !{item.delivery}
                    - const href = `/admin/orders/record?id=${item.id}`
                    td.table__cell: a(href != href) Открыть
                    if isAdmin
                      td.table__cell: a(href = `/admin/orders/delete-record?id=${item.id}`) Удалить
        +cell({l: 3, m: 4, s: 6, xs: 12}): +asideMenu('Администрирование', menu)
