extends /blocks/layout/layout

include /blocks/form-input/form-input
include /blocks/img/img

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      br
      -
        const props = {}
        properties.forEach((prop) => props[prop._id] = prop.name)
      h1 !{prod.name}
      form(action!= form.act name!= form.name method='POST' enctype='multipart/form-data').admin-product  
        +grid({'padding-y': true})
          +cell({m:8, xs:12})
            h2 Основная информация
            input(type='hidden' name='id' value!= prod._id)
            +formInput({ type: 'text', name: 'name', value: prod.name, required: true, label: 'Название' }).admin-product__item#product-name
            +formInput({ type: 'text', name: 'code', value: prod.translit, required: true, label: 'Символьный код' }).admin-product__item#product-code
            -
              const categories = []
              category.forEach((cat) => {
                categories.push(
                  {
                    name: cat.name,
                    value: cat._id,
                    selected: prod.category === cat._id.toString() ? true : false,
                  }
                )
              })
            +formInput({ type: 'select', name: 'category', required: true, options: categories, label: 'Категория' }).admin-product__item#product-category
            +formInput({ type: 'number', name: 'price', value: prod.cost, label: 'Цена'}).admin-product__item#product-price
            +formInput({ type: 'textarea', name: 'desc', required: true, label: 'Описание', content: prod.desc }).admin-product__item#product-description
            h2 Свойства
            -
              const options = []
              properties.forEach((prop) => options.push({value: prop._id, name: prop.name}))
            +grid({'tag': 'fieldset', 'align': 'center'})(name='product-add').admin-product__item
              +cell({xs: 5}): +formInput({ type: 'select', name: 'propName', options: options, label })
              +cell({xs: 5}): +formInput({ type: 'text', name: 'propValue' })
              +cell({xs: 2}): button.btn.btn--wide Добавить
            fieldset(name='product-properties').admin-product-properties.admin-product__item
              each param in prod.params
                +grid({'align': 'center'}).admin-product-properties__item
                  +cell({ xs: 5 }).admin-product-properties__name: strong !{props[param.name]}
                  +cell({xs: 5}).admin-product-properties__value: +formInput({ type: 'text', name: param.name, value: param.value})
                  +cell({xs: 2}): button(name='delete').btn.btn--wide Удалить
          +cell({m: 4, xs: 12})
            h2 Фотография
            if prod.img
              -
                const image = prod.img
                image.path = '/images/sharped/'
              +img(image)(alt != prod.name)
            - const label = prod.img ? 'Изменить фотографию' : 'Добавить фотографию'
            +formInput({type: 'file', name: 'new-image', label: label}).admin-product__item#product-photo
        +grid().admin-product__buttons
          +cell({m: 2, s: 3, xs: 6}): button(type='submit').btn.btn--wide Сохранить
          +cell({m: 2, s: 3, xs: 6}): a(href='/admin/products').btn.btn--wide Отмена
