extends /blocks/layout/layout

include /blocks/admin-property/admin-property
include /blocks/aside-menu/aside-menu

block head
  -
    var pageTitle = 'Администрирование: Характеристики'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      h1 Характеристики
      br
      br
      +grid({'padding-y': true})
        +cell({l: 9, m: 8, xs: 12})
          .properties-list
            .properties-list__item: +adminProperty({}, true)
            each form in list
              .properties-list__item: +adminProperty(form)
        +cell({l: 3, m: 4, s: 6, xs: 12}): +asideMenu('Администрирование', menu)
