extends /blocks/layout/layout

include /blocks/form-input/form-input
include /blocks/aside-menu/aside-menu

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      h1 Товары 
      +grid({'padding-y': true})
        +cell({l: 9, m: 8, xs: 12})
          br
          form(method='GET' action='/admin/products' name='search-form')
            +formInput({type: 'search', options: [], label: 'Поиск', name:'search', value:''})
            button(type='submit').btn Найти
          br
          form(method='POST' action='/admin/products/statistics' name='statistic-form' target='_blank')
            input(type='month' name='period')
            button(type='submit') Отчёт
          br
          - 
            function formatDate(date) {
              let dd = date.getDate();
              if (dd < 10) dd = '0' + dd;
              let mm = date.getMonth() + 1;
              if (mm < 10) mm = '0' + mm;
              let yy = date.getFullYear();
              return `${dd}.${mm}.${yy}`;
            }
          a(href='/admin/products/new').btn Новый продукт
          br
          .table-wrap
            br
            table.table.table-orders
              tr
                th.table__header Наименование
                th.table__header Стоимость (руб.)
                th.table__header Дата создания
                th.table__header Отображение
                th.table__header 
                if isAdmin
                  th.table__header 
              each item in products
                -
                  let date = formatDate(item.ts) 
                tr
                  td.table__cell !{item.name}
                  td.table__cell !{item.cost}
                  td.table__cell !{date}
                  td.table__cell 
                    if item.hidden 
                      a(href != `/admin/products/item-show?id=${item._id}`) Показать 
                    else
                      a(href != `/admin/products/item-hide?id=${item._id}`) Скрыть
                  td.table__cell: a(href != `/admin/products/item?id=${item._id}`) Открыть
                  if isAdmin
                    td.table__cell: a(href != `/admin/products/item-del?id=${item._id}`) Удалить  
        +cell({l: 3, m: 4, s: 6, xs: 12}): +asideMenu('Администрирование', menu)