extends /blocks/layout/layout

include /blocks/form-input/form-input
include /blocks/table/table
include /blocks/aside-menu/aside-menu

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      h1 Учетные записи
      +grid({'padding-y': true})
        +cell({l: 9, m: 8, xs: 12})
          p(data-mrc-sh-title='search'): strong: a(href='#') Поиск пользователей
          +grid({ 'tag': 'form', 'padding-y': true, 'align': 'center' })(data-mrc-sh-body='search').admin-search
            form(method='GET' action='/admin/users' name='form-filter')
              +cell({ m: 4, s: 6, xs: 12 })
                -
                  const groups = [
                    { 'name': 'Все группы'},
                    { 'name': 'Пользователь' },
                    { 'name': 'Менеджер' },
                    { 'name': 'Администратор' },
                  ]
                +formInput({ 'type': 'select', options: groups, name: 'byGroup' })
              +cell({ m: 4, s: 6, xs: 12 }): +formInput({ 'type': 'text', name: 'search', placeholder: 'Поиск' })
              +cell({ m: 4, s: 6, xs: 12 }): button(type='submit').btn Найти
          -
            function formatDate(date) {
              let dd = date.getDate();
              if (dd < 10) dd = '0' + dd;
              let mm = date.getMonth() + 1;
              if (mm < 10) mm = '0' + mm;
              let yy = date.getFullYear();
              let hh = date.getHours();
              if (hh < 10) hh = '0' + hh;
              let min = date.getMinutes();
              if (min < 10) min = '0' + min;

              return `${dd}.${mm}.${yy} ${hh}:${min}`;
            }

          .table-wrap
            table.table.table-orders
              tr
                th.table__header Имя
                th.table__header E-mail
                th.table__header Группа
                th.table__header Зарегистрирован
                th.table__header
                if isAdmin
                  th.table__header 

              each user in users
                tr
                  td.table__cell !{user.name}
                  td.table__cell !{user.email}
                  for g of groupName 
                    if g.value === user.group
                      td.table__cell !{g.name}
                  td.table__cell !{formatDate(user.regdate)}
                  td.table__cell: a(href != `/admin/users/user?id=${user._id}`) Открыть
                  if isAdmin
                    td.table__cell: a(href != `/admin/users/delete-user?id=${user._id}`) Удалить
        +cell({l: 3, m: 4, s: 6, xs: 12}): +asideMenu('Администрирование', menu)