extends /blocks/layout/layout

include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      h1 !{user.name}
      form(action='/admin/users/user-edit' method='POST').admin-form
        h3 Пользователь
        input(type='hidden' name='current' value!= user._id)
        fieldset.admin-form__fieldset
          +formInput({ 'type': 'text', 'name': 'name', 'label': 'ФИО', 'value': user.name, required: true }).admin-form__input#user-name
          +formInput({ 'type': 'email', 'name': 'email', 'label': 'E-mail', 'value': user.email, required: true }).admin-form__input#user-email
          if isAdmin
            +formInput({ 'type': 'password', 'name': 'new-password', 'label': 'Новый пароль',}).admin-form__input#user-new-pass
            +formInput({ 'type': 'password', 'name': 'new-password-confirm', 'label': 'Подтверждение нового пароля',}).admin-form__input#user-new-pass-condirm
        if isAdmin
          h3 Группы
          fieldset.admin-form__fieldset.admin-form__fieldset--groups
            +formInput({ 'type': 'radio', 'name': 'group', 'label': 'Пользователь', 'value': 'user', checked: true }).admin-form__input#user-group-user
            +formInput({ 'type': 'radio', 'name': 'group', 'label': 'Менеджер', 'value': 'manager' }).admin-form__input#user-group-admin
            +formInput({ 'type': 'radio', 'name': 'group', 'label': 'Администратор', 'value': 'admin' }).admin-form__input#user-group-admin
        h3 Контактные данные
        fieldset.admin-form__fieldset
          +formInput({ 'type': 'tel', 'name': 'tel', 'label': 'Телефон', 'value': user.phone }).admin-form__input#user-tel
          +formInput({ 'type': 'text', 'name': 'address', 'label': 'Адрес', 'value': user.address }).admin-form__input#user-address
        button(type='submit').admin-form__submit.btn Сохранить
        button(type='reset').admin-form__submit.btn Отменить
