extends /blocks/layout/layout

include /blocks/cart-item/cart-item
include /blocks/cart-summary/cart-summary
include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      h1 Корзина
      +grid({'padding-y': true})
        +cell({m: 7, xs: 12})
          .cart
            
        +cell({m: 5, xs: 12})
          form(method='POST' action='/users/cart' name='order').form-login
            .form-login__error Имя пользователя или пароль не верны
            +formInput({type: 'text', options: [], label: 'Имя', name:'name', required: true, value: crUser.name})#form-register__name.form-login__input
            +formInput({type: 'email', options: [], label: 'e-mail', name:'email', required: true, value: crUser.email})#form-register__email.form-login__input
            +formInput({type: 'tel', options: [], label: 'Телефон', name:'phone', required: true, value: crUser.phone})#form-register__email.form-login__input
            //pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
            +formInput({type: 'text', options: [], label: 'Адрес', name:'address', required: true, value: crUser.address})#form-register__address.form-login__input
            +formInput({type: 'textarea', options: [], label: 'Пожелания и уточнения', name:'clarifications'})#form-register__clarifications.form-login__input
            .form-login__subheader Доставка
            each item in deliveries
              +formInput({type: 'radio', options: [], label: `${item.name}  +${item.cost}₽`, name:'delivery', value: item._id})(data-price != item.cost).form-login__input.form-login__input--radio
            //+formInput({type: 'radio', options: [], label: 'Почта России', name:'delivery', value:'ru-post'}).form-login__input.form-login__input--radio
            +formInput({type: 'hidden', options: [], name: 'products'}).form-login__input.form-login__input--array-input
            +formInput({type: 'hidden', options: [], name: 'price'}).form-login__input.form-login__input--price-input
            button(type='submit').form-login__submit Оформить заказ
            .form-login__load
