extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/products-item/products-item
include /blocks/img/img

block head
  -
    var pageTitle = `${title}`
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      br
      +grid({'padding-y':true})
        +cell({m:9,s:8,xs:12})
        
          -
            let catalog = [];
            products.forEach((item) => {
              const image = item.img
              image.path = '/images/sharped/'
              catalog.push({
                name: item.name,
                price: item.cost,
                image,
                href: `/catalog/render?elementId=${item._id}`
              });
            });
          +grid({'padding-y': true})
            each item in catalog
              +cell({m:4, s:6, xs:6})
                +productsItem(item)
          include ../views/blocks/pagination/pagination 
        +cell({m:3,s:4,xs:12})
          -
            const massCategory = []; //переменная массива категорий

            categories.forEach((cat) => {
              // Формирование первого уровня категорий
              if (!cat.parent) {
                massCategory.push({
                  id: cat._id,
                  name: cat.name,
                  href: cat.href,
                  list: []
                })
              }
            });
              // формирование второго уровня категорий
            categories.forEach((cat) => {
              massCategory.forEach((mcat) => {
                if (mcat.id == cat.parent) {
                  mcat.list.push({
                    id: cat._id,
                    name: cat.name,
                    href: `/catalog/${cat.href}`,
                  });
                }
              });
            });

          each  item in massCategory
            +asideMenu(item.name, item.list)

          
