extends /blocks/layout/layout

include /blocks/home-category/home-category
include /blocks/home-section/home-section
include /blocks/products-item/products-item

block head
  -
    var pageTitle = `${title}`
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +homeSection
        +grid({'padding-y': true, justify: center})
          +cell({m:7,s:8,xs:12})
            +homeCategory('Ножи','/images/home-category-knife-1.webp','/catalog/knives')
          +cell({m:5,s:6})
            +homeCategory('Топоры','/images/home-category-axe-1.jpg', '/catalog/axes')
          +cell({m:6,s:6})
            +homeCategory('Аксессуары','/images/home-category-asses-1.jpg', '/catalog/accessories')
          +cell({m:3,s:6})
            +homeCategory('Разное','/images/home-category-stone.jpg', '/catalog/other')
          +cell({m:3,s:6})
            +homeCategory('О нас','/images/home-category-about.jpg', '#about')
      +homeSection()
        +grid({justify: 'center'})
          +cell({m:8,s:10})
            h2#about.home-section__header О нас
            p Магазин ножей ручной работы «Ножики-Режики» занимается изготовлением и продажей инструментов хозяйственно-бытового, охотничьего, туристического и сувенирного назначения. 
            p Мы – коммерческий проект, объединяющий лучших мастеров кузнечного дела г. Санкт-Петербурга и Ленинградской области с целью создать единый бренд и сделать его продукцию доступной на всей территории России, бывшего СНГ и ближнего зарубежья.
      +homeSection()
        +grid({justify: 'center'})
          +cell({m:8,s:10})
            h2#delivery.home-section__header Доставка и оплата
            p Доставка осуществляется на следующий день с момента согласования заказа. При оформлении заказа вы можете выбрать удобный вас способ доставки.
            p Оплата товара осуществляется при получении товара, банковским переводом либо через любую другую систему платежей.
      +homeSection()
        +grid({justify: 'center'})
          +cell({m:8,s:10})
            h2#contacts.home-section__header Контакты
            p По любым вопросам вы всегда можете обратиться по следующим контактным данным:
            p Телефон: +7 (821) 123-45-67
            p Email: knivesncut@yandex.ru
            p Почтовый адрес: 198264, г. Санкт-Петербург, пр. Ветеранов 171
