extends /blocks/layout/layout

include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      h1 Вход
      +grid({justify: 'space-between'})
        +cell({m:6, s:9, xs:12})
          form.form-login(method='POST' action='/users/login')
            .form-login__error Имя пользователя или пароль не верны
            +formInput({type: 'email', options: [], label: 'e-mail', name: 'email', required: true})#form-login__email.form-login__input
            +formInput({type: 'password', options: [], label: 'Пароль', name: 'password', required: true})#form-login__pass.form-login__input
            .form-login__service
              +formInput({type:'checkbox', options: [], label: 'Запомнить меня?'}).form-login__checkbox
              a(href='#') Забыли пароль?
            button(type='submit').form-login__submit Войти
            .form-login__load
