doctype html
html(lang='ru')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='x-apple-disable-message-reformatting')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title
    style(type='text/css').
      table, td { color: #000000; } @media only screen and (min-width: 620px) {
      .u-row {
      width: 600px !important;
      }
      .u-row .u-col {
      vertical-align: top;
      }
      .u-row .u-col-33p33 {
      width: 199.98px !important;
      }
      .u-row .u-col-50 {
      width: 300px !important;
      }
      .u-row .u-col-66p67 {
      width: 400.02px !important;
      }
      .u-row .u-col-100 {
      width: 600px !important;
      }
      }
      @media (max-width: 620px) {
      .u-row-container {
      max-width: 100% !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      }
      .u-row .u-col {
      min-width: 320px !important;
      max-width: 100% !important;
      display: block !important;
      }
      .u-row {
      width: calc(100% - 40px) !important;
      }
      .u-col {
      width: 100% !important;
      }
      .u-col > div {
      margin: 0 auto;
      }
      }
      body {
      margin: 0;
      padding: 0;
      }
      table,
      tr,
      td {
      vertical-align: top;
      border-collapse: collapse;
      }
      p {
      margin: 0;
      }
      .ie-container table,
      .mso-container table {
      table-layout: fixed;
      }
      * {
      line-height: inherit;
      }
      a[x-apple-data-detectors='true'] {
      color: inherit !important;
      text-decoration: none !important;
      }
      .header-logo {
        position: relative;
        display: block;
        padding-left: 2.5rem;
        font-family: serif;
        text-decoration: none;
        letter-spacing: 2px;
        color: #000;
      }

      .header-logo::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 2rem;
        height: 2rem;
        background-image: svgImport('svg/logo.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: translateY(-50%);
      }
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700&display=swap' rel='stylesheet' type='text/css')
  table(style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #ffffff;width:100%' cellpadding='0' cellspacing='0')
    tbody
      tr(style='vertical-align: top')
        td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
          .u-row-container(style='padding: 10px 10px 0px;background-color: rgba(255,255,255,0)')
            .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
              div(style='border-collapse: collapse;display: table;width: 100%;background-color: transparent;')
                .u-col.u-col-50(style='max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;')
                  div(style='width: 100% !important;')
                    div(style='padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;')
                      table(style="font-family:'Lato',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                        tbody
                          tr
                            td(style="overflow-wrap:break-word;word-break:break-word;padding:20px 20px 0px 10px;font-family:'Lato',sans-serif;" align='left')
                              table(width='100%' cellpadding='0' cellspacing='0' border='0')
                                tr
                                  td(style='padding-right: 0px;padding-left: 0px;' align='left')
                                    img(align='left' border='0' src='styles/svg/logo.svg' alt='logo' title='logo' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 100%;max-width: 221px;' width='221')
                                  td(style='padding-right: 0px;padding-left: 0px;' align='left')
                                    a(href='/').header-logo
                                      | НОЖИКИ
                                      br
                                      | РЕЖИКИ
                .u-col.u-col-50(style='max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;')
                  div(style='width: 100% !important;')
                    div(style='padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;')
                      table(style="font-family:'Lato',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                        tbody
                          tr
                            td(style="overflow-wrap:break-word;word-break:break-word;padding:31px 20px 0px;font-family:'Lato',sans-serif;" align='left')
                              div(style='line-height: 150%; text-align: right; word-wrap: break-word;')
                                p(style='font-size: 14px; line-height: 150%;')
                                  span(style='font-family: Lato, sans-serif; font-size: 14px; line-height: 21px; color: #7d7d7d;')
                                    span(style='line-height: 21px; font-size: 14px;') !{date}
          .u-row-container(style='padding: 0px 10px 3px;background-color: rgba(255,255,255,0)')
            .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
              div(style='border-collapse: collapse;display: table;width: 100%;background-color: transparent;')
                .u-col.u-col-100(style='max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;')
                  div(style='width: 100% !important;')
                    div(style='padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;')
                      table(style="font-family:'Lato',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                        tbody
                          tr
                            td(style="overflow-wrap:break-word;word-break:break-word;padding:0px;font-family:'Lato',sans-serif;" align='left')
                              table(height='0px' align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #CCC;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                tbody
                                  tr(style='vertical-align: top')
                                    td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                      span &nbsp;
          .u-row-container(style='padding: 0px 10px 10px;background-color: #ffffff')
            .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
              div(style='border-collapse: collapse;display: table;width: 100%;background-color: transparent;')
                .u-col.u-col-100(style='max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;')
                  div(style='width: 100% !important;')
                    div(style='padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;')
                      table(style="font-family:'Lato',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                        tbody
                          tr
                            td(style="overflow-wrap:break-word;word-break:break-word;padding:20px 20px 5px;font-family:'Lato',sans-serif;" align='left')
                              div(style='color: #303030; line-height: 120%; text-align: left; word-wrap: break-word;')
                                p(style='font-size: 14px; line-height: 120%; text-align: center;')
                                  span(style='font-size: 20px; line-height: 24px;') Спасибо, что выбрали Ножики-Режики!
                      table(style="font-family:'Lato',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                        tbody
                          tr
                            td(style="overflow-wrap:break-word;word-break:break-word;padding:5px 20px 20px;font-family:'Lato',sans-serif;" align='left')
                              div(style='color: #303030; line-height: 120%; text-align: center; word-wrap: break-word;')
                                p(style='font-size: 14px; line-height: 120%;')
                                  span(style='font-size: 16px; line-height: 19.2px;') сейчас ваш заказ в обработке.
                      table(style="font-family:'Lato',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                        tbody
                          tr
                            td(style="overflow-wrap:break-word;word-break:break-word;padding:10px 20px 30px;font-family:'Lato',sans-serif;" align='left')
                              div(style='color: #7d7d7d; line-height: 120%; text-align: center; word-wrap: break-word;')
                                p(style='line-height: 120%; font-size: 14px;')
                                  span(style='font-size: 14px; line-height: 16.8px;') С вами свяжется наш менеджер для уточнения деталей заказа.
          .u-row-container(style='padding: 0px 10px 9px;background-color: rgba(255,255,255,0)')
            .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #000000;')
              div(style='border-collapse: collapse;display: table;width: 100%;background-color: transparent;')
                .u-col.u-col-66p67(style='max-width: 320px;min-width: 400px;display: table-cell;vertical-align: top;')
                  div(style='width: 100% !important;')
                    div(style='padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;')
                      table(style="font-family:'Lato',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                        tbody
                          tr
                            td(style="overflow-wrap:break-word;word-break:break-word;padding:10px 20px;font-family:'Lato',sans-serif;" align='left')
                              div(style='color: #ffffff; line-height: 120%; text-align: left; word-wrap: break-word;')
                                p(style='font-size: 14px; line-height: 120%;') Заказ
                .u-col.u-col-33p33(style='max-width: 320px;min-width: 200px;display: table-cell;vertical-align: top;')
                  div(style='width: 100% !important;')
                    div(style='padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;')
                      table(style="font-family:'Lato',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                        tbody
                          tr
                            td(style="overflow-wrap:break-word;word-break:break-word;padding:10px 20px;font-family:'Lato',sans-serif;" align='left')
                              div(style='color: #ffffff; line-height: 120%; text-align: left; word-wrap: break-word;')
                                p(style='font-size: 14px; line-height: 120%;') Стоимость
          .u-row-container(style='padding: 0px 10px;background-color: rgba(255,255,255,0)')
            .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
              div(style='border-collapse: collapse;display: table;width: 100%;background-color: transparent;')
                .u-col.u-col-66p67(style='max-width: 320px;min-width: 400px;display: table-cell;vertical-align: top;')
                  div(style='width: 100% !important;')
                    div(style='padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;')
                      each order in orders
                        table(style="font-family:'Lato',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                          tbody
                            tr
                              td(style="overflow-wrap:break-word;word-break:break-word;padding:15px 20px;font-family:'Lato',sans-serif;" align='left')
                                div(style='color: #303030; line-height: 120%; text-align: left; word-wrap: break-word;')
                                  p(style='font-size: 14px; line-height: 120%;') !{order.count} x&nbsp;!{order.name}
                .u-col.u-col-33p33(style='max-width: 320px;min-width: 200px;display: table-cell;vertical-align: top;')
                  div(style='width: 100% !important;')
                    div(style='padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;')
                      - let total = 0;
                      each order in orders
                        - total += order.sum
                        table(style="font-family:'Lato',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                          tbody
                            tr
                              td(style="overflow-wrap:break-word;word-break:break-word;padding:15px 20px;font-family:'Lato',sans-serif;" align='left')
                                div(style='color: #303030; line-height: 120%; text-align: left; word-wrap: break-word;')
                                  p(style='font-size: 14px; line-height: 120%;') ₽!{order.cost}
          .u-row-container(style='padding: 0px 10px 7px;background-color: rgba(255,255,255,0)')
            .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
              div(style='border-collapse: collapse;display: table;width: 100%;background-color: transparent;')
                .u-col.u-col-100(style='max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;')
                  div(style='width: 100% !important;')
                    div(style='padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;')
                      table(style="font-family:'Lato',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                        tbody
                          tr
                            td(style="overflow-wrap:break-word;word-break:break-word;padding:0px;font-family:'Lato',sans-serif;" align='left')
                              table(height='0px' align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px dotted #CCC;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                tbody
                                  tr(style='vertical-align: top')
                                    td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                      span &nbsp;
          .u-row-container(style='padding: 0px 10px;background-color: rgba(255,255,255,0)')
            .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
              div(style='border-collapse: collapse;display: table;width: 100%;background-color: transparent;')
                .u-col.u-col-66p67(style='max-width: 320px;min-width: 400px;display: table-cell;vertical-align: top;')
                  div(style='width: 100% !important;')
                    div(style='padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;')
                      table(style="font-family:'Lato',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                        tbody
                          tr
                            td(style="overflow-wrap:break-word;word-break:break-word;padding:10px 20px;font-family:'Lato',sans-serif;" align='left')
                              div(style='line-height: 120%; text-align: left; word-wrap: break-word;')
                                p(style='font-size: 14px; line-height: 120%;') Итого:
                .u-col.u-col-33p33(style='max-width: 320px;min-width: 200px;display: table-cell;vertical-align: top;')
                  div(style='width: 100% !important;')
                    div(style='padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;')
                      table(style="font-family:'Lato',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                        tbody
                          tr
                            td(style="overflow-wrap:break-word;word-break:break-word;padding:10px 20px;font-family:'Lato',sans-serif;" align='left')
                              div(style='line-height: 120%; text-align: left; word-wrap: break-word;')
                                p(style='font-size: 14px; line-height: 120%;') ₽!{total}
          .u-row-container(style='padding: 0px 10px 5px;background-color: rgba(255,255,255,0)')
            .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
              div(style='border-collapse: collapse;display: table;width: 100%;background-color: transparent;')
                .u-col.u-col-100(style='max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;')
                  div(style='width: 100% !important;')
                    div(style='padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;')
                      table(style="font-family:'Lato',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                        tbody
                          tr
                            td(style="overflow-wrap:break-word;word-break:break-word;padding:0px;font-family:'Lato',sans-serif;" align='left')
                              table(height='0px' align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px dotted #CCC;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                tbody
                                  tr(style='vertical-align: top')
                                    td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                      span &nbsp;
          .u-row-container(style='padding: 0px 0px 20px;background-color: #ffffff')
            .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
              div(style='border-collapse: collapse;display: table;width: 100%;background-color: transparent;')
                .u-col.u-col-100(style='max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;')
                  div(style='width: 100% !important;')
                    div(style='padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;')
                      table(style="font-family:'Lato',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                        tbody
                          tr
                            td(style="overflow-wrap:break-word;word-break:break-word;padding:20px 20px 35px;font-family:'Lato',sans-serif;" align='left')
                              div(style='color: #303030; line-height: 170%; text-align: center; word-wrap: break-word;')
                                p(style='font-size: 14px; line-height: 170%;')
                                  | Компания "Ножики-Режики" занимается продажей ножей ручной работы и другим ассортиментом колюще-режущих инструментов. Вся продукция поставляется от лучших мастеров кузнечного дела Санкт-Петербурга и Ленинградской области. Мы поставляем сталь, что будет служить вам веками!
                      table(style="font-family:'Lato',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                        tbody
                          tr
                            td(style="overflow-wrap:break-word;word-break:break-word;padding:20px;font-family:'Lato',sans-serif;" align='left')
                              div(style='color: #7d7d7d; line-height: 140%; text-align: center; word-wrap: break-word;')
                                p(style='font-size: 14px; line-height: 140%;')
                                  span(style='font-size: 12px; line-height: 16.8px;')
                                    span(style='text-decoration: underline; line-height: 16.8px; font-size: 12px;') Поддержка
                                    |  | 
                                    span(style='text-decoration: underline; line-height: 16.8px; font-size: 12px;') О нас
                                p(style='font-size: 14px; line-height: 140%;') &nbsp;
                                p(style='font-size: 14px; line-height: 140%;')
                                  span(style='font-size: 12px; line-height: 16.8px;') Copyright &copy; 2021 Ножики-Режики. Все права защищены. 

