extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/product-price/product-price
include /blocks/product-properties/product-properties
include /blocks/img/img

block head
  -
    var pageTitle = title
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      br
      +grid({'padding-y': true, 'justify': 'space-between'})
        +cell({m:6,s:6,xs:12})
          -
            const image = product.img
            image.path = '/images/sharped/'
          +img(image)(alt != product.name)
        +cell({m:5,s:6,xs:12})
          h1= product.name
          +productPrice(product._id, product.img, product.name, product.cost)
          +productProperties(params)
          h2 Описание
          p= product.desc
          h2 Доставка
          p
            each item, index in delivery 
              if index !== 0
                br
              | !{item.name}
          h2 Оплата
          p Оплата в магазине
            br
            | Онлайн оплата
            br
            | Оплата курьеру
            br
            | Оплата при получении
