extends /blocks/layout/layout

include /blocks/form-input/form-input
include /blocks/table/table
include /blocks/order-products/order-products

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      h1 Личный кабинет
      +grid({'padding-y': true})
        +cell({m:5,s:8,xs:12})
          -
            let name = crUser.name
              , email = crUser.email 
              , phone = crUser.phone || ''
              , adress = crUser.address || '';

          form(action="/users/profile" method='POST' name='form-user').form-user
            .form-user__input: +formInput({type:'text', name:'name', value: name, readonly: true, options:[], label: 'ФИО'})
            .form-user__input: +formInput({type:'email', name:'email', value: email, readonly: true, options:[], label: 'E-mail'})
            .form-user__input: +formInput({type:'tel', name:'phone', value: phone, readonly: true, options:[], label: 'Телефон'})
            .form-user__input: +formInput({type:'text', name:'address', value: adress, readonly: true, options:[], label: 'Адрес'})
            .form-user__buttons
              button(name='edit').btn Редактировать
              button(type='submit' name='save').btn Сохранить
          if isAdmin
            br
            a(href="/admin").btn Администрирование
            br
        +cell({m:7,s:12,xs:12})
          h2 История заказов
          .table-wrap
            table.table.table-orders
              tr
                th.table__header Дата заказа
                th.table__header Товары
                th.table__header Сумма
              each item in orders
                //-console.log(item);
                  -console.log();
                tr
                  td.table__cell !{item.date}
                  td.table__cell: +orderProducts(item.products)
                  td.table__cell
                    -
                      let sum = item.delivery || 0;
                    each i in item.products
                      - sum += i.cost * i.count
                    | !{sum} ₽ 
