extends /blocks/layout/layout

include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      h1 Регистрация
      +grid({justify: 'space-between'})
        +cell({m:6, s:9, xs:12})
          form.form-login(method='POST' action='/users/register' )
            .form-login__error Имя пользователя или пароль не верны
            +formInput({type: 'text', options: [], label: 'Имя и Фамилия', name:'name', required: true})#form-register__name.form-login__input
            +formInput({type: 'email', options: [], label: 'e-mail', name:'email', required: true})#form-register__email.form-login__input
            +formInput({type: 'password', options: [], label: 'Пароль', name:'pass', required: true})#form-register__pass.form-login__input
            +formInput({type: 'password', options: [], label: 'Повторите пароль', name:'pass2', required: true})#form-register__pass-two.form-login__input
            button(type='submit').form-login__submit Зарегистрироваться
            .form-login__load
