include ../header-service/header-service
include ../header-menu/header-menu

header.header
  .header__top.container
    .header__container.content
      .header__item.header__item--phone
        include ../header-phone/header-phone
      .header__item.header__item--service
        -
          const sm = [
            {name: 'О нас', href: '/#about'},
            {name: 'Доставка и оплата', href: '/#delivery'},
            {name: 'Контакты', href: '/#contacts'},
          ]
        +headerService(sm)
      .header__item.header__item--login
        include ../header-login/header-login
  .header__bottom.container
    .header__container.content
      .header__item.header__item--logo
        include ../header-logo/header-logo
      .header__item.header__item--menu
        -           
          let hm = [{
            name: 'Каталог',
            href: '/catalog'
          }]
          categories.forEach((cat) => {
            if (cat.level === 1 ) {
              hm.push({
                name: cat.name,
                href: `/catalog/${cat.href}`
              })
            }
          }) 
          
        +headerMenu(hm)
      .header__item.header__item--cart
        include ../header-cart/header-cart
