head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/stylesheet/style.css')

  block head
  title= title
  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content=pageKeywords || '')
