.admin-category
  display flex
  margin (-(basePadding / 2)) (-(basePadding))
  @media (max-width 799px)
    flex-direction column
  &__form
    display flex
    @media (max-width 799px)
      flex-direction column
    .form-input:not(.form-input--hidden)
    .btn
      margin (basePadding / 2) basePadding
    .form-input:not(.form-input--hidden)
      display flex
      align-items center

