include /blocks/form-input/form-input

mixin adminCategory(form, categories, add)
  .admin-category
    if !add
      form(action='/admin/categories/edit' method='post' name != editName).admin-category__form
        +formInput({ type: 'text', name: 'edit_name', value: form.name })
        +formInput({ type: 'text', name: 'edit_link', value: form.link })
        +formInput({ type: 'hidden', name: 'current', value: form.id })
        -
          const opt = [
            { value: '' },
          ]
          categories.forEach((category) => opt.push({
            value: category.id,
            selected: category.id === form.parentCat ? 'selected' : false,
            name: category.name
          }))
        +formInput({ type: 'select', name: 'edit_parent', options: opt })
        button(type='submit').btn Сохранить
      form(action='/admin/categories/del' method='post' name != delName).admin-category__form
        input(type='hidden' name='delete' value != form.id)
        button(type='submit').btn Удалить
    else
      form(action='/admin/categories/add' method='post' name != 'newCat').admin-category__form.admin-category__form--add
        +formInput({ type: 'text', name: 'new_name', placeholder: 'Новая категория' })
        +formInput({ type: 'text', name: 'new_link', placeholder: 'Ссылка' })
        -
          const opt = [
            { value: '' },
          ]
          categories.forEach((category) => opt.push({
            value: category.id,
            name: category.name
          }))
        +formInput({ type: 'select', name: 'new_parent', options: opt })
        button(type='submit').btn Добавить
