.cart-item
  display flex
  justify-content space-between
  min-height 3rem
  margin-x -(basePadding)
  padding-y (basePadding*2)
  & + &
    border-top 1px solid #fafafa
  &__image
  &__properties
  &__count
  &__price
  &__delete
    padding-x basePadding
  &__image
    width 6rem
  &__properties
    margin-right auto
  &__name
    font-family serif
    font-weight bold
  &__price
    width 12rem
    text-align right
  &__price-sum
    font-weight bold
  &__price-item
    font-size font-xs
    color #666
  &__delete
    a
      display block
      width .9375rem
      height 1rem
      background-image svgImport('svg/cartDelete.svg')
      background-position center
