mixin cartItem(item, settings = {})
  .cart-item(data-id='')
    .cart-item__image: img(src != `/images/logo.svg` alt != 'glyph')
    .cart-item__properties
      .cart-item__name !{item.name}
    .cart-item__count !{item.count}
    .cart-item__price
      .cart-item__price-sum !{item.cost * item.count} ₽
      if item.count > 1
        .cart-item__price-item 1 шт. = !{item.cost} ₽
    if !settings.admin
      .cart-item__delete: a(href='')
