.cart-summary
  display flex
  justify-content flex-end
  margin-left -(basePadding)
  padding-y (basePadding*2)
  padding-right (basePadding+1rem)
  border-top 1px solid #ccc
  &__count
  &__price
    padding-x basePadding
  &__price
    width 11rem
    text-align right
    color #666
    span
      display block
      font-size 1.5rem
      font-weight bold
      color #000
