mixin cartSummary(list, settings = {})
  -
    const classes = []
    settings.admin ? classes.push('cart-summary--admin') : false;
  .cart-summary(class != classes)
    -
      let summary = 0
      let count = 0
    each item in list
      -
        summary = summary + item.count * item.cost
        count = count + item.count
    .cart-summary__count Товары: !{count}
    .cart-summary__price Итого
      span !{summary} ₽
