.header-menu
  &__list
    display flex
    margin-x -2rem
  &__list-item
    margin-x 2rem
    a
      position relative
      text-decoration none
      color #666
      transition .4s color
      &::before
        content ''
        position absolute
        bottom 0
        left 0
        width 100%
        height 1px
        background-color #666
        transition transform .4s, background-color .4s
        transform scaleX(0)
        transform-origin 50% 0 0
      &:hover
        color #333
        transition .1s color
        &::before
          background-color #333
          transition transform .1s, background-color .1s
          transform scaleX(1)
          
