.pagination
  display flex
  justify-content flex-end
  margin-x -(basePadding/3)
  margin-top (basePadding*4)
  &__item
    border 2px solid transparent
    margin-x (basePadding/3)
    &--active
      border 2px solid #333
    a
    span
      display inline-block
      min-width 1rem
      line-height 1rem
      text-align center
      text-decoration none
      color #666
    a:hover
      color #333
