ul.pagination
  li.pagination__item.pagination__item--prev.pagination__item--inactive: a(href='') Назад
  li.pagination__item.pagination__item--active
    span 1
  li.pagination__item
    a(href='') 2
  li.pagination__item
    a(href='') 3
  li.pagination__item
    a(href='') 4
  li.pagination__item.pagination__item--next: a(href='') Вперёд
