.header-cart
  position relative
  display block
  width 1.375rem
  height 1.3125rem
  &::before
    content ''
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-image svgImport('svg/cart.svg')
    background-repeat no-repeat
    background-position left bottom
    transition opacity .4s
  &:hover
    &::before
      opacity .75
      transition opacity .1s
  &__count
    position absolute
    top 0
    right 0
    width 1rem
    height 1rem
    font-size font-xs
    line-height 1rem
    text-align center
    color #fff
    background-color #B83D3D
    border-radius 50%
    transform translate(50%, -50%)
