include ../footer-menu/footer-menu

footer.footer.container
  .footer__inner.content
    +grid({justify: 'center', paddingy: true})
      +cell({m:3, xs:12})
        .footer__subtitle Магазин
        -
          const mShop = [
            {name: 'О нас', href: '/#about'},
            {name: 'Доставка и оплата', href: '/#delivery'},
            {name: 'Контакты', href: '/#contacts'},
          ]
        +footerMenu(mShop)
      +cell({m:3, xs:12})
        include ../footer-logo/footer-logo
        .footer__phone +7 (123) 456-78-90
        .footer__mail: a(href='/#contacts') knivesncut@yandex.ru
      +cell({m:3, xs:12})
        .footer__subtitle Каталог
        - 
          let mCat = [{
            name: 'Каталог',
            href: '/catalog'
          }]
          categories.forEach((cat) => {
            if (!cat.parent) {
              mCat.push({
                name: cat.name,
                href: `/catalog/${cat.href}`,
              })
            }
          }) 
        +footerMenu(mCat)
