.product-price
  display flex
  justify-content space-between
  align-items center
  padding-y (basePadding*2)
  &__value
    font-size 2.0625rem
  &__btn
    a
      position relative
      padding .5rem 4rem
      text-decoration none
      color #333
      &::before
      &::after
        content ''
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        border 2px solid
        transition transform .4s
      &:hover
        &::before
          transform translate(-2px, -2px)
          transition transform .1s
        &::after
          transform translate(2px, 2px)
          transition transform .1s
