.categories-list
  h1 + &
    margin-top basePadding
  &__item
    & + &
      margin-top (basePadding*2)
  @supports (display contents)
    @media (min-width 800px)
      display grid
      grid-template-columns auto auto auto auto auto
      grid-column-gap (basePadding * 2)
      grid-row-gap (basePadding * 3)
      &__item
        display contents
        .admin-category
        .admin-category__form
          display contents
          .form-input
          .btn
            margin 0
        .admin-category__form--add
          &::after
            content ''
