include /blocks/form-input/form-input

mixin adminProperty(form, add)

  .admin-property
    if !add
      form(action='/admin/properties/edit' method='post' name='editDelivery').admin-property__form
        +formInput({type: 'text', name: 'new_name', value: form.name, required: true})
        +formInput({ type:'hidden',  name:'edit_id', value: form.id })
        button(type='submit').btn Сохранить
      form(action='/admin/properties/del' method='post' name='editDelivery').admin-property__form
        +formInput({type: 'hidden', name:'delete', value: form.id})
        button(type='submit').btn Удалить
    else
      form(action='/admin/properties/add' method='post' name='newProperty').admin-property__form.admin-property__form--add
        +formInput({ type:'text', name:'new_name', placeholder: 'Характеристика', required: true })#new_name
        button(type='submit').btn Добавить
