.breadcrumbs
  display flex
  flex-wrap wrap
  align-items center
  padding-y basePadding
  font-size font-xs
  line-height line-xs
  &__parent
    padding-right (basePadding /2)
    a
      text-decoration none
      color #999
      &:hover
        text-decoration underline 
  &__separator
    border .25rem solid transparent
    border-left .25rem solid #cccccc
