include ../grid/grid
include ../create-element/create-element
include ../scripts/scripts

doctype html
html(lang='ru')
  include ../head/head
  body
    .page
      include ../header/header
      main
        block content
      include ../footer/footer
  +scripts(['script.js'])
