.product-properties
  display grid
  grid-column-gap (basePadding*2)
  grid-row-gap basePadding // stylint ignore
  grid-template-columns min-content 1fr
  margin-bottom 3.375rem
  &__item
    display contents 
  &__name
    font-weight bold
    white-space nowrap
