mixin productProperties(list)
  .product-properties
    each item in list
      .product-properties__item
        .product-properties__name !{item.name}
        .product-properties__value !{item.value}
