.form-login
  display flex
  flex-direction column
  padding (basePadding*2)
  background-color #fafafa
  &__input
  &__service
    margin-bottom (basePadding*2)
  &__input
    .form-input
      &__label
        color #666
    &--radio
      display flex
      flex-direction row
      margin-bottom 0
      .form-input
        &__field
          flex-grow 0
          width 1rem
          margin-right .5rem
        &__label
          order 2
  &__service
    display flex
    justify-content space-between
  &__checkbox
    flex-shrink 0
    .form-input__label
      order 2
      white-space nowrap
    .form-input__field
      width 1.5rem
  &__submit
    padding 1rem
    font-size 1.5rem
    line-height 1.75rem
    color #fff
    background-color #E6A917
    border none
    cursor pointer
    transition background .4s
    &:hover
      background-color lightness(#E6A917, 65%)
      transition background .1s
    &:active
      background-color lightness(#E6A917, 35%)
      transition none
  &__load
    position relative
    display none
    overflow hidden
    width 3rem
    height 3rem
    border-radius 50%
    animation-name loadRotate
    animation-duration 2s
    animation-timing-function linear
    animation-iteration-count infinite
    &::before
      content ''
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background linear-gradient(to right top, #fff, #ccc, #fff)
    &::after
      content ''
      position absolute
      top .5rem
      left .5rem
      width 2rem
      height 2rem
      background-color #fafafa
      border-radius 50%
  @keyframes loadRotate
    from
      transform rotate(0)
    to
      transform rotate(360deg)
  &--loading
    justify-content center
    align-items center
    & ^[-1]__load
      display block
    & ^[-1]__input
    & ^[-1]__service
    & ^[-1]__submit
      display none
  &__error
    display none
    margin-bottom (basePadding*2)
    padding (basePadding*2)
    text-align center
    color #B83D3D
    border .5px solid
    &--active
      display block
  &__subheader
    font-weight bold
    margin-bottom basePadding
