.home-category
  position relative
  display flex
  overflow hidden
  align-items flex-end
  justify-content center
  height 320px
  padding 2rem
  text-decoration none
  cursor pointer
  &:hover
    & ^[-1]__image
      filter brightness(.5) grayscale(.5)
      transform scale(1.05)
      transition transform .1s, filter .1s
  &__image
    position absolute
    top 0
    left 0
    z-index 10
    display flex
    align-items center
    justify-content center
    width 100%
    height 100%
    transition transform .4s, filter .4s
    img
      min-width 100%
      min-height 100%
  &__name
    z-index 100
    font-family sans
    font-size 2rem
    font-weight bold
    color #fff
