.header-service
  &__list
    display flex
    margin -(basePadding/2)
  &__list-item
    margin (basePadding/2)
    a
      font-size font-s
      text-decoration none
      color #aaaaaa
      transition color .4s
      &:hover
        color #f0f0f0
        transition color .1s
    &--active
      a
        color #f0f0f0
      
